@import url('http://fonts.googleapis.com/css?family=Muli');
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Muli, sans-serif;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -5px;
  left: -5px;
  background-image: url('../images/background.jpg');
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.header {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
}

.body {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.subbody {
  width: 90%;
  height: 100%;
  position: relative;
  left: 50%;
  margin: 10px 0px 0px -45%;
}

.intro {
  font-size: 14px;
}

.big {
  font-size: 22px;
  font-weight: bold;
  margin: 0px;
}

.small {
  font-size: 10px;
  margin: 0px;
}

.sep {
  border: 2px dashed #A4A4A4;
}

.avatar {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.game-thumb {
  width: 96px;
  height: 64px;
}

.mem_pres {
  margin-left: 10px;
}

.online {
  position: fixed;
  right: -1px;
  top: 50%;
  margin-top: -75px;
  width: 36px;
  height: 150px;
  background-color: #D02525;
  border: 1px solid #000;
  font-size: 25px;
  text-align: center;
  line-height: 36px;
  color: #fff;
}

.online > div {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); 
  height: 152px;
  position: absolute;
  left: -49px;
}

.online > div > img {
  position: absolute;
  left: -71px;
}

.online > select {
  position: absolute;
  bottom: 2px;
  left: 2px;
  width: 32px;
}

.contact-form {
  position: relative;
  margin-top: -50px;
  margin-left: -100px;
}

a {
  color: #819FF7;
}

/* Menus */

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid #c9ba47;
  line-height: 1;
}
#cssmenu ul {
  background: #ffffff;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #c9ba47;
}
#topprojects 
{
  position: absolute;
  top: 45px;
  left: 549px;
  line-height: 30px;
  text-align: center;
  z-index: 10;
  width: 205px;
  height: 30px;
  padding: 0px;
  background: #FFF;
  -webkit-border-radius: 0px 0px 5px 5px;;
  -moz-border-radius: 0px 0px 5px 5px;;
  border-radius: 0px 0px 5px 5px;
  border: #c9ba47 solid 3px;
  display: none;
}

#topprojects:after 
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -10px;
  left: 90px;
}

#topprojects:before 
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #c9ba47 transparent;
  display: block;
  width: 0;
  z-index: 0;
  top: -11px;
  left: 90px;
}

.menu_button 
{
  padding: 2px;
  border: 3px solid #c9ba47;
  border-radius: 5px 5px 0px 0px;
  width: 24px;
  height: 23px;
}